body {
    font-family: "Be Vietnam Pro", serif;
}

.blue_back {
    background-color: #207FEE;
}

.yellow_back {
    background-color: #F69F1D;
}

button {
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 12px 16px;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

input {
    border: none;
    padding: 12px 16px;
}

input::placeholder {
    color: #828282;
    font-size: 20px;
    font-weight: bold;
}

.header_logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header_logo h1 {
    font-size: 24px;
}

